# Visual Studio / Rider / OmniSharp
.vs/
*/.vs/
*.sln.ide
*.csproj.user
*.suo
*.userprefs
/.vscode

# Build artifacts
**/bin/
**/obj/

# Exclude specific files
**/bin/Debug

# Packages folder
**/packages/

# MSTest test Results
*.trx
/TestResults

# Build results
[Dd]ebug/
[Rr]elease/


